.car-brands-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car-cards-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
}

.car-brands-header {
  text-align: center;
  margin: 16px 0px;
}
