<div class="navbar-container">
  <img
    width="100px"
    src="/assets/images/rosenthal_dealership_logo.png"
    alt="dealership logo"
    (click)="navigateTo('/')"
  />

  <div *ngIf="isMobile" class="hamburger-icon">
    <mat-icon mat-button [matMenuTriggerFor]="menu">menu</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="navigateTo('/')">Home</button>
      <button mat-menu-item (click)="navigateTo('/dashboard')">
        Dashboard
      </button>
    </mat-menu>
  </div>

  <div *ngIf="!isMobile || menuOpen" class="navbar-link-container">
    <span
      class="navbar-link"
      [class.active]="currentRoute === '/'"
      (click)="navigateTo('/')"
      >Home</span
    >
    <span
      class="navbar-link"
      [class.active]="currentRoute === '/dashboard'"
      (click)="navigateTo('/dashboard')"
      >Dashboard</span
    >
  </div>
</div>
