.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.navbar-link-container {
  display: flex;
  gap: 16px;
}

.navbar-link {
  cursor: pointer;
}

.navbar-link.active {
  border-bottom: 2px solid #008dff;
}

.example-spacer {
  flex: 1 1 auto;
}

@media screen and (max-width: 767px) {
}
