<div class="navbar-container">
  <img
    width="100px"
    src="/assets/images/rosenthal_dealership_logo.png"
    alt="dealership logo"
    (click)="navigateTo('/')"
  />
  <div class="navbar-link-container">
    <span
      class="navbar-link"
      [class.active]="currentRoute === '/'"
      (click)="navigateTo('/')"
      >Home</span
    >
    <span
      class="navbar-link"
      [class.active]="currentRoute === '/dashboard'"
      (click)="navigateTo('/dashboard')"
      >Dashboard</span
    >
  </div>
</div>
