<form
  [formGroup]="carForm"
  (ngSubmit)="submitForm()"
  class="car-dealership-form"
>
  <div class="form-header">
    <h1 class="form-title">Find a car</h1>
    <p class="form-sub-header">
      Fill out the form below to find your dream car, once finished click
      "Submit" and we'll get back to you.
    </p>
  </div>

  <div class="form-row">
    <div class="category">
      <h2>Personal Details</h2>
      <mat-form-field class="full-width">
        <input matInput placeholder="Full Name" formControlName="fullName" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-select placeholder="Gender" formControlName="gender">
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
          matInput
          type="email"
          placeholder="Email"
          formControlName="email"
        />
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Birth Date"
          formControlName="birthDate"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="carForm.controls.birthDate.hasError('futureDate')">
          Birth date cannot be in the future.
        </mat-error>
        <mat-error *ngIf="carForm.controls.birthDate.hasError('notMinimumAge')">
          You must be at least 18 years old.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-select placeholder="Hobbies" formControlName="hobbies" multiple>
          <mat-option *ngFor="let hobby of hobbiesList" [value]="hobby">
            <mat-checkbox
              [checked]="carForm.controls.hobbies.value.includes(hobby)"
            >
              {{ hobby }}
            </mat-checkbox>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="category">
      <h2>Location Details</h2>
      <mat-form-field class="full-width">
        <input matInput placeholder="Address" formControlName="address" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="City" formControlName="city" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Country" formControlName="country" />
      </mat-form-field>
    </div>
  </div>

  <div class="form-row">
    <div style="width: 100%" class="other-details-category">
      <h2>Other Details</h2>

      <span
        [colorPicker]="carForm.controls['favoriteColor'].value"
        (colorPickerChange)="changeColor($event)"
        [cpToggle]="colorPickerToggle"
        [cpDialogDisplay]="'inline'"
        placeholder="Favorite Color"
      ></span>

      <button
        type="button"
        class="pick-color-button"
        (click)="colorPickerToggle = !colorPickerToggle"
      >
        Pick a Color
      </button>

      <mat-form-field class="full-width">
        <input
          matInput
          type="number"
          placeholder="Required Seats (2-7)"
          formControlName="requiredSeats"
        />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-select placeholder="Motor Type" formControlName="motorType">
          <mat-option value="electric">Electric</mat-option>
          <mat-option value="fuel">Fuel</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="form-row">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="carForm.invalid"
    >
      Submit
    </button>
  </div>
</form>
