@import "@fortawesome/fontawesome-free/css/all.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
.app-root {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
}
